<template>
  <app-navigator></app-navigator>
</template>

<script>
import {
  createAppContainer,
  createStackNavigator,
} from "vue-native-router";

import cameraScreen from "./screens/camera.vue";
import mainScreen from "./screens/main.vue";
import storyScreen from "./screens/story.vue";

import React from 'react';
import {StyleSheet, TouchableOpacity} from 'react-native';

const StackNavigator = createStackNavigator(
  {
    Camera: {
      screen: cameraScreen,
      navigationOptions: {
        header: null
      }
    },
    Main: {
      screen: mainScreen,
      navigationOptions: {
        header: null
      }
    },
    Story: {
      screen: storyScreen,
      navigationOptions: {
        header: null
      }
    },
  },
  {
    initialRouteName: 'Camera',
  }
);

const AppNavigator = createAppContainer(StackNavigator);

export default {
  components: { AppNavigator },
}
</script>