<template>
  <view class='container'>
    <camera ref="camera" class="camera" :type="camType" :onCameraReady="camReady()" />
    <view class='controls'>
      <touchable-opacity :onPress='takePhoto' class='shoot'></touchable-opacity>
    </view>
  </view>
</template>

<script>
import { Camera } from "expo-camera";
let ready, image

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      camType: Camera.Constants.Type.back,
   };
  },
  async mounted() {
    let hasCameraPermission = (await Camera.getPermissionsAsync()).granted
    if (!hasCameraPermission) Camera.requestPermissionsAsync()
  },
  components: { Camera },
  methods: {
    camReady(cam) {
      ready = true
    },
    async takePhoto() {
      if (ready) {
        image = await this.$refs.camera.takePictureAsync()
        // Use 'image.uri' for the image handler
        // the app exits the camera page here
        this.navigation.navigate('Main')
      }
    }
  }
}
</script>

<style>
.container{
  flex: 1;
  justifyContent: space-between;
}
.camera{
  flex: 0.9;
}
.controls{
  marginTop: auto;
  marginBottom: auto;
  alignItems: center;
  flexDirection: row;
  justifyContent: space-around;
}
.shoot{
  backgroundColor: #eee;
  borderRadius: 100;
  borderColor: #ccc;
  borderWidth: 5;
  height: 70;
  width: 70;
  elevation: 5;
}
</style>