<template>
<view class='container'>
  <scroll-view>
  <view class='body'>

    <scroll-view :horizontal='true' >
      <view class='videos'>
        <touchable-opacity :on-press='_=> {
          // video logic
        }' class='video video_thumb' v-for='image in videoThumbs'>
          <image class='video_thumb' :source="{uri: image}"/>
        </touchable-opacity>
      </view>
    </scroll-view>

    <scroll-view :horizontal='true' >
      <view class='tags'>
        <touchable-opacity :on-press='_=> {
          //tag logic
        }' class='tag' v-for='tag in tags'>
          <text class='tag_text'>
            #{{ tag }}
          </text>
        </touchable-opacity>
      </view>
    </scroll-view>
    
    <view class='feed'>
      <touchable-opacity @press="navigation.navigate('Story')" class='news' v-for='item in feed'>
        <view>
          <text class='news_body news_headline'>{{ item.head }}</text>
          <text class='news_body'>{{ item.body }}</text>
        </view>
        <image class='news_image' :source="{uri: item.image}"/>
      </touchable-opacity>
    </view>

  </view>
  </scroll-view>
<touchable-opacity class='back' @press='navigation.goBack()'><text class='back_icon'>< Back</text><text class='back_icon logo'>Project x</text></touchable-opacity>
</view>
</template>

<script>
export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data: function() {
    return {
      videoThumbs: [
        'https://i.ytimg.com/an_webp/clKsnjafGWM/mqdefault_6s_480x270.webp?du=3000&sqp=CM-rg_QF&rs=AOn4CLBC1dD_ogvFnDGDf67JIdPPrGS09A',
        'https://i.ytimg.com/an_webp/HEaaln5jDl8/mqdefault_6s_480x270.webp?du=3000&sqp=CJz2gvQF&rs=AOn4CLCz4UTykvXb_dyASPqnQ9mevoUx-A'
      ],
      tags: [
        'konakona',
        'kona-sadanam',
        'kokoro',
        'poli_sadanam',
        'mair'
      ],
      feed: [
        {
          head: 'Entho Engane',
          body: 'agsdgasdgf,abdf agfjasdfuugasdf asdfasdfasdf adsfajdgfuufhgurhtgbg gdsg ergasdgdfwelu.',
          image: 'https://reactnative.dev/img/tiny_logo.png'
        },
        {
          head: 'Entho Engane',
          body: 'agsdgasdgf,abdf agfjasdfuugasdf asdfasdfasdf adsfajdgfuufhgurhtgbg gdsg ergasdgdfwelu.',
          image: 'https://reactnative.dev/img/tiny_logo.png'
        },
        {
          head: 'Entho Engane',
          body: 'agsdgasdgf,abdf agfjasdfuugasdf asdfasdfasdf adsfajdgfuufhgurhtgbg gdsg ergasdgdfwelu.',
          image: 'https://reactnative.dev/img/tiny_logo.png'
        },
        {
          head: 'Entho Engane',
          body: 'agsdgasdgf,abdf agfjasdfuugasdf asdfasdfasdf adsfajdgfuufhgurhtgbg gdsg ergasdgdfwelu.',
          image: 'https://reactnative.dev/img/tiny_logo.png'
        },
      ]
   };
  },
}
</script>

<style>
.container{
  marginTop: 24;
}
.body{
  paddingTop: 60;
}
.videos{
  marginTop: 30;
  marginRight: 20;
  flexDirection: row;
}
.video{
  marginLeft: 20;
  borderRadius: 30;
  elevation: 10;
}
.video_thumb{
  height: 200;
  width: 320;
}
.tags{
  margin: 10;
  marginTop: 20;
  flexDirection: row;

}
.tag{
  marginLeft: 10;
  borderColor: #2db5a2;
  borderWidth: 2;
  padding: 10;
  paddingTop: 5;
  paddingBottom: 5;
  borderRadius: 100;
}
.tag_text{
  color: #2db5a2;
}
.feed{
  margin: 20;
  marginTop: 0;
}
.news{
  elevation: 5;
  backgroundColor: #fff;
  borderRadius: 15;
  padding: 20;
  flexDirection: row;
  justifyContent: space-between;
  marginTop: 12;
}
.news_headline{
  fontWeight: bold;
  fontSize: 20;
  marginBottom: 5;
}
.news_body{
  maxWidth: 250;
}
.news_image{
  height: 60;
  width: 60;
  alignSelf: center;
}
.back{
  backgroundColor: #fff;
  position: absolute;
  top: 20;
  left: 20;
  borderRadius: 100;
  elevation: 5;
  alignItems: center;
  justifyContent: center;
  flexDirection: row;
}
.back_icon{
  fontWeight: bold;
  fontSize: 20;
  padding: 20;
  paddingLeft: 10;
  paddingBottom: 10;
  paddingTop: 10;
  backgroundColor: #eee;
  borderRadius: 100;
}
.logo{
  backgroundColor: #fff;
}
</style>